.cart {
    h2 {
        font-family: 'VT323', monospace;
        font-size: 25px;
        color: greenyellow;
        margin: 10px 0;
        text-align: center;
    }
    p {
        font-size: 15px;
    }
    .titulo {
        p {
            font-weight: 600;
        }
    }
    button {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        img {
            width: 30px;
            height: auto !important;
            margin: 0 !important;
        }
    }

    form {
        input, input:focus {
            background-color: transparent;
            border: 1.2px solid black;
            box-shadow: none;
            border-radius: 0;
            margin: 10px 0;
            color: blueviolet;
            width: 100%;
            padding: 5px;
            &::placeholder {
                color: black;
                font-style: italic;
            }
        }
        button {
            border-radius: 0;
            background-color: chartreuse;
            box-shadow: none;
            padding: 5px 10px;
            border: 1.2px solid black;
            min-width: 200px;
            display: block;
            margin: 0 auto;
        }
        .error {
            color: red;
        }
    }
}