.cart-icon {
    position: fixed;
    bottom: 60px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1024px) {
        position: relative;
    }
    img{
        height: 80px;
    }
    p {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: fuchsia;
        font-family: 'VT323', monospace;
    }
}