.mainTitle_container {
    background-image: radial-gradient(circle,#e6b3ff, rgba(238, 174, 202, 1));
    padding:30px;
    z-index: 2;
    max-width: 500px;
    box-shadow:8px 8px 5px rgba(153, 0, 115, 0.4), 0 6px 5px rgba(38, 0, 77, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    .mainTitle {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #800060;
        position: relative;
        text-align: center;
    }
    @media (max-width: 1024px) {
      position: static;
      margin-top: 20px;
    }
}

.products {
    margin: 50px 0;
    border: 2px solid;
    border-bottom-color: #535353;
    border-right-color: #535353;
    border-left-color: #dbdbdb;
    border-top-color: #dbdbdb;
    background-color: #bfbfbf;
    font-size: 13px;
    padding: 2px;
    .loading {
        color: #000;
    }
    ul.toolbar {
      list-style: none;
      padding: 2px 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 5px;
      }
    }
    .container-inner {
      border: 2px solid;
      border-bottom-color: #c7c7c7;
      border-right-color: #c7c7c7;
      border-left-color: #808080;
      border-top-color: #808080;
      background-color: #fff;
      padding: 10px;
      ul.icons {
        list-style: none;
        padding: 2px 0;
        margin: 0;
        li {
          display: inline-block;
          padding: 0 5px;
        }
      }
    }
    .statusbar {
      .left, .right {
        border: 1px solid;
        border-color: #888 #dadada #dadada #888;
        display: inline-block;
        padding: 0px 5px;
        font-size: 11px;
      }
      .left {
        width: 33%;
      }
      .right {
        width: 66%;
      }
    }
  }
  .title {
    background-color: #808080;
    padding: 2px 4px 3px 4px;
    position: relative;
    h1 {
      font-weight: bold;
      color: #bcbcbc;
      font-size: 13px;
      margin: 0;
    }
    button {
      border: 2px solid;
      border-bottom-color: #444;
      border-right-color: #444;
      border-left-color: #a6a6a6;
      border-top-color: #a6a6a6;
      background-color: #bfbfbf;
      position: absolute;
      font-size: 9px;
      line-height: 0;
      padding: 1px;
      height: 15px;
      width: 15px;
      top: 2px;
    }
    button.minimize {
      right: 34px;
    }
    button.expand {
      right: 18px;
    }
    button.times {
      right: 2px;
    }
  }